<section class="about-page flex ali-center jc-center" style="background-image: url(../img/slide1.jpg)">
		<h1 class="h1 text-center animated   zoomIn">Спеціальність</h1>
</section>

<section class="about-text section bg-light">
	<div class="flex flex-column ali-center jc-center mb-5">
		<h2 class="h2">Програмна інженерія</h2>
	</div>
	<div class="container">
		<div class="row mb-5 ali-center">
          <div class="col-md-6 overflow order-1">
            <img src="img/about_1.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-3 wow fadeInRight">
            
              <p>Програмна інженерія — це область комп'ютерної науки і технології, яка займається побудовою програмних систем. Програмні системи набули статусу соціально значущого фактора, який впливає на безпеку та добробут суспільства. За таких обставин світове суспільство прийшло до висновку, що технологія виробництва програм потребує свого оформлення як самостійний інженерний фах, який має забезпечити відповідний кадровий потенціал для обсягу програмних розробок, що постійно зростає.</p>
              <p>Кафедра програмної інженерії та інформаційних систем почала свою діяльність у 2015 році. Під час проведення ліцензійної експертизи з 14 по 16 квітня 2014 року щодо підготовки фахівців  з спеціальності 121 «Інженерія програмного забезпечення» було висловлено пропозицію створення на базі кафедри економічної кібернетики та інформаційних систем випускової кафедри за вказаним напрямом. Відповідно до постанови вченої ради КНТЕУ від 26 лютого 2015 року (протокол №5) прийнято рішення щодо створення на базі кафедри економічної кібернетики та інформаційних систем двох підрозділів – один  із яких  кафедра програмної інженерії та інформаційних систем.</p>
            
          </div>
        </div>
		<div class="row ali-center">
          
          <div class="col-md-6 overflow order-3">
            <img src="img/about_2.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-1 wow fadeInLeft">
            <p>Викладачі кафедри програмної інженерії та інформаційних систем мають значний практичний та науковий досвід роботи, що дає їм змогу ефективно забезпечувати проведення лекційних, практичних та інших видів занять із 53 навчальних дисциплін.</p>
            <p>Кафедра  здійснює підготовку фахівців з спеціальності 121 «Інженерія програмного забезпечення» освітніх ступенів «бакалавр» і «магістр»   та зі спеціальності 125 «Кібербезпека» освітнього ступеня «бакалавр».</p>
            <p>Очолює кафедру доктор технічних наук, професор О.В. Криворучко.</p>
            <p>Кафедра має належну матеріально-технічну базу - комп’ютери нового покоління, оснащення для візуального супроводження лекційних і практичних занять, що забезпечує сучасний рівень навчального процесу та організації науково-дослідної роботи студентів. Викладачі кафедри активно застосовують прогресивні методи навчання: дистанційні лекції, семінари, ділові ігри, тестування. </p>

          </div>

        </div>
	</div>
</section>

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container u-space-2-top">
    <div class="row justify-content-lg-between mb-7">
      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Меню</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Головна</a></li>
          <li><a class="u-list__link" href="#">Про кафедру</a></li>
          <li><a class="u-list__link" href="#">Викладацький склад</a></li>
          <li><a class="u-list__link" href="#">Розклад консультацій</a></li>
          <li><a class="u-list__link" href="#">Наставники академічних груп</a></li>
          <li><a class="u-list__link" href="#">Навчально-методичні матеріали</a></li>
          <li><a class="u-list__link" href="#">Події</a></li>
          <li><a class="u-list__link" href="#">Контаки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Посилання</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Сайт КНТЕУ</a></li>
          <li><a class="u-list__link" href="#">Сайт Факультету</a></li>
          <li><a class="u-list__link" href="#">Мінітерсто освіти і науки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Контаки</strong>
        </h3>
        <!-- End Title -->

        <!-- Address -->
        <address class="u-list">
          <a class="u-list__link" href="#">531-49-56</a>
          <a class="u-list__link" href="mailto:progen@ukr.net"> progen@ukr.net</a>
          <a class="u-list__link" href="#">Україна, 02156, м. Київ, вул. Кіото, 19, Корпус Б</a>
        </address>
        <!-- End Address -->
      </div>

      <div class="col-sm-6 col-md-5 col-lg-3 col-lg-3">
        <div class="mb-4">
        <!-- Title -->
        <h3 class="h6 u-text-light mb-3">
          <strong>Соціальні спільноти</strong>
        </h3>
        <!-- End Title -->

        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-google u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-twitter u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-github u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>
    </div>
  </div>
  <div class="row justify-content-between align-items-center u-space-1 pb-3">
      <div class="col-5">
        <!-- Logo -->
        <a class="d-inline-block mb-lg-auto " href="#" aria-label="Front">
          <img src="img/logo1.png" alt="Logo" style="width: 100px;">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-6 text-right">
        <p class="small mb-0">© oRlex. 2018</p>
      </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->