<section class="about-page flex ali-center jc-center" style="background-image: url(../img/slide1.jpg)">
		<h1 class="h1 text-center ">Про кафедру</h1>
</section>

<section class="about-text section bg-light">
	<div class="flex flex-column ali-center jc-center mb-5">
		<h2 class="h2">Lorem, ipsum dolor.</h2>
		<h4 class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nulla?</h4>
	</div>
	<div class="container">
		<div class="row mb-5 ali-center">
          <div class="col-md-6 overflow order-1">
            <img src="img/about_1.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-3">
            <h2 class="mb-4">First, We Love To Teach</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reprehenderit laboriosam, eius ipsa consequuntur eos. Nulla dolorem repudiandae mollitia distinctio eos pariatur dolores, voluptate impedit. Eaque quos, sapiente ipsum possimus.</p>
            <p>Odio ducimus id vero tempora eaque rem voluptatibus tempore sequi ea quod, odit commodi voluptas! Nesciunt dolorum ea repudiandae. Officia eos impedit sapiente tempore, a dolore minus eaque culpa facere.</p>
            <p>Qui dolore quaerat expedita fugiat aperiam consequatur pariatur quod perspiciatis alias magni, recusandae esse dolorem beatae commodi quo labore earum harum odio voluptatibus non, error perferendis at delectus. Ab, amet.</p>
          </div>
        </div>
		<div class="row ali-center">
          
          <div class="col-md-6 overflow order-3">
            <img src="img/about_2.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-1">
            <h2 class="mb-4">We Are Passionate About Web</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reprehenderit laboriosam, eius ipsa consequuntur eos. Nulla dolorem repudiandae mollitia distinctio eos pariatur dolores, voluptate impedit. Eaque quos, sapiente ipsum possimus.</p>
            <p>Odio ducimus id vero tempora eaque rem voluptatibus tempore sequi ea quod, odit commodi voluptas! Nesciunt dolorum ea repudiandae. Officia eos impedit sapiente tempore, a dolore minus eaque culpa facere.</p>
            <p>Qui dolore quaerat expedita fugiat aperiam consequatur pariatur quod perspiciatis alias magni, recusandae esse dolorem beatae commodi quo labore earum harum odio voluptatibus non, error perferendis at delectus. Ab, amet.</p>
          </div>

        </div>
	</div>
</section>

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container u-space-2-top">
    <div class="row justify-content-lg-between mb-7">
      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Меню</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Головна</a></li>
          <li><a class="u-list__link" href="#">Про кафедру</a></li>
          <li><a class="u-list__link" href="#">Викладацький склад</a></li>
          <li><a class="u-list__link" href="#">Розклад консультацій</a></li>
          <li><a class="u-list__link" href="#">Наставники академічних груп</a></li>
          <li><a class="u-list__link" href="#">Навчально-методичні матеріали</a></li>
          <li><a class="u-list__link" href="#">Події</a></li>
          <li><a class="u-list__link" href="#">Контаки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Посилання</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Сайт КНТЕУ</a></li>
          <li><a class="u-list__link" href="#">Сайт Факультету</a></li>
          <li><a class="u-list__link" href="#">Мінітерсто освіти і науки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Контаки</strong>
        </h3>
        <!-- End Title -->

        <!-- Address -->
        <address class="u-list">
          <a class="u-list__link" href="#">531-49-56</a>
          <a class="u-list__link" href="mailto:progen@ukr.net"> progen@ukr.net</a>
          <a class="u-list__link" href="#">Україна, 02156, м. Київ, вул. Кіото, 19, Корпус Б</a>
        </address>
        <!-- End Address -->
      </div>

      <div class="col-sm-6 col-md-5 col-lg-3 col-lg-3">
        <div class="mb-4">
        <!-- Title -->
        <h3 class="h6 u-text-light mb-3">
          <strong>Соціальні спільноти</strong>
        </h3>
        <!-- End Title -->

        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-google u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-twitter u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-github u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>
    </div>
  </div>
  <div class="row justify-content-between align-items-center u-space-1 pb-3">
      <div class="col-5">
        <!-- Logo -->
        <a class="d-inline-block mb-lg-auto " href="#" aria-label="Front">
          <img src="img/logo1.png" alt="Logo" style="width: 100px;">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-6 text-right">
        <p class="small mb-0">© oRlex. 2018</p>
      </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->