<section class="about-page flex ali-center jc-center" style="background-image: url(../img/slide1.jpg)">
		<h1 class="h1 text-center animated   zoomIn">Викладацький склад</h1>
</section>

<section class="section">
  <div class="container materials">

  
  <p class="p">Кафедра програмної інженерії та інформаційних систем є випусковою для студентів освітнього рівня «Бакалавр» спеціальності 121 «Інженерія програмного забезпечення», тому пріоритетними для кафедри є всебічний розвиток професійної та особистісної культури фахівців, високий рівень викладання інформаційних, програмно-інженерних дисциплін, повне комплексне забезпечення навчального процесу науково-методичними розробками. З метою підвищення ефективності освітнього процесу, якості знань студентів та удосконалення професійної компетентності науково-педагогічних працівників методична комісія кафедри розробила НМКС та НМКД дисциплін, що закріпленні за кафедрою.
  </p>
  <p class="p">Кафедра активно впроваджує у навчальний процес:</p>

<ul>
  <li>новітні інформаційні технології навчання;</li>
  <li>кредитно-трансферну систему організації навчального процесу;</li>
  <li>комплексне методичне забезпечення роботи студентів;</li>
  <li>дистанційні форми навчання у вигляді  вебінарів он-лайн лекцій;</li>
  <li>інноваційні технології навчання.</li>
</ul>

<p>Викладачі  кафедри розробляють навчально-методичні матеріали та впроваджують у навчальний процес дисципліни для здобувачів вищої освіти освітнього рівня «бакалавр» спеціальності 121 «Інженерія програмного забезпечення»:</p>

<ol>
  <li>Алгоритми та структури даних</li>
  <li>Аналіз програмного забезпечення</li>
  <li>Архітектура комп'ютера</li>
  <li>Архітектура та проектування програмного забезпечення</li>
  <li>Бази даних</li>
  <li>Безпека програм та даних</li>
  <li>Дискретні структури</li>
  <li>Економіка і організація інформаційного бізнесу</li>
  <li>Економіка програмного забезпечення</li>
  <li>Експертні системи</li>
  <li>Електронний документообіг</li>
  <li>Емпіричні методи програмної інженерії</li>
  <li>Імітаційне моделювання економічних систем</li>
  <li>Конструювання програмного забезпечення</li>
  <li>Людино-машинна взаємодія</li>
  <li>Менеджмент проектів програмного забезпечення</li>
  <li>Методи і засоби передачі даних</li>
  <li>Моделі і структури даних</li>
  <li>Моделювання та аналіз програмного забезпечення</li>
  <li>Об'єктно-орієнтоване програмування</li>
  <li>Операційні системи</li>
  <li>Організація комп’ютерних мереж</li>
  <li>Основи інженеріїпрограмного забезпечення</li>
  <li>Основи штучного інтелекту</li>
  <li>Програмування Інтернет</li>
  <li>Проектний практикум</li>
  <li>Професійна практика програмної інженерії</li>
  <li>Системний аналіз</li>
  <li>Технологія Java</li>
  <li>Технологія проектування та адміністрування баз даних і сховищ даних</li>
  <li>Технологія розробки  та тестування програмного забезпечення</li>
  <li>Технологія створення програмних систем в управлінні</li>
  <li>Управління проектами інформатизації</li>
  <li>Web-дизайн і Web-програмування</li>
</ol>
<p class="p">
Викладачі  кафедри розробили повний пакет навчально-методичного забезпечення та викладають дисципліни інших спеціальності

для здобувачів освітнього ступеня «бакалавр»
</p>

<ol>
  <li>Економічна інформатика</li>
  <li>Інформаційна безпека</li>
  <li>Інформаційна логістика</li>
  <li>Інформаційні системи і технології в управлінні</li>
  <li>Інформаційні системи і технології в управлінні підприємством</li>
  <li>Інформаційні системи і технології у фінансових установах</li>
  <li>Комп’ютерні мережі та телекомунікації</li>
  <li>Основи програмування</li>
  <li>Офісні комп’ютерні технології</li>
  <li>Системи штучного інтелекту</li>
</ol>

<p class="p">
Для здобувачів освітнього ступеня «магістр»:
</p>

<ol>
  <li>Ієрархічні системи управління економічними об'єктами</li>
  <li>Інформаційні системи і технології в митній справі</li>
  <li>Інформаційні системи і технології в управлінні</li>
  <li>Інформаційні системи і технології в управлінні ЗЕД</li>
  <li>Інформаційні системи і технології в управлінні інвестиційною діяльністю</li>
  <li>Інформаційні системи і технології в управлінні інноваційною діяльністю</li>
  <li>Методика викладання у вищих навчальних закладах</li>
  <li>Методологія і організація наукових досліджень</li>
  <li>Системний аналіз</li>
  <li>Управління конфігурацією в «1С: Підприємство»</li>
</ol>
<p class="p">
Для здобувачів рівня вищої освіти – доктор філософії:
</p>

<ol>
  <li>Інформаційні технології в наукових дослідженнях</li>
  <li>Навчальний семінар (Бази даних і бази знань в інформаційних технологіях)</li>
  <li>Навчальний семінар (Інтернет-технології побудови сервіс-орієнтованих систем)</li>
  <li>Навчальний семінар (Моделювання предметних галузей інформаційних систем</li>
  <li>Навчальний семінар (Системний аналіз об'єктів і процесів комп’ютеризації)</li>
  <li>Проектування складних систем</li>
</ol>

</div>
</section>

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container u-space-2-top">
    <div class="row justify-content-lg-between mb-7">
      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Меню</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Головна</a></li>
          <li><a class="u-list__link" href="#">Про кафедру</a></li>
          <li><a class="u-list__link" href="#">Викладацький склад</a></li>
          <li><a class="u-list__link" href="#">Розклад консультацій</a></li>
          <li><a class="u-list__link" href="#">Наставники академічних груп</a></li>
          <li><a class="u-list__link" href="#">Навчально-методичні матеріали</a></li>
          <li><a class="u-list__link" href="#">Події</a></li>
          <li><a class="u-list__link" href="#">Контаки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Посилання</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Сайт КНТЕУ</a></li>
          <li><a class="u-list__link" href="#">Сайт Факультету</a></li>
          <li><a class="u-list__link" href="#">Мінітерсто освіти і науки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Контаки</strong>
        </h3>
        <!-- End Title -->

        <!-- Address -->
        <address class="u-list">
          <a class="u-list__link" href="#">531-49-56</a>
          <a class="u-list__link" href="mailto:progen@ukr.net"> progen@ukr.net</a>
          <a class="u-list__link" href="#">Україна, 02156, м. Київ, вул. Кіото, 19, Корпус Б</a>
        </address>
        <!-- End Address -->
      </div>

      <div class="col-sm-6 col-md-5 col-lg-3 col-lg-3">
        <div class="mb-4">
        <!-- Title -->
        <h3 class="h6 u-text-light mb-3">
          <strong>Соціальні спільноти</strong>
        </h3>
        <!-- End Title -->

        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-google u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-twitter u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-github u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>
    </div>
  </div>
  <div class="row justify-content-between align-items-center u-space-1 pb-3">
      <div class="col-5">
        <!-- Logo -->
        <a class="d-inline-block mb-lg-auto " href="#" aria-label="Front">
          <img src="img/logo1.png" alt="Logo" style="width: 100px;">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-6 text-right">
        <p class="small mb-0">© oRlex. 2018</p>
      </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->