<section class="about-page flex ali-center jc-center cover-page" style="background-image: url({{idea.img}})">
		{{!-- <h1 class="h1 text-center ">Викладацький склад</h1> --}}
</section>

<section class="section">
    <div class="container">
        <a class="nav-link" href="/posts"><i class="fas fa-arrow-left"></i> Назад</a>
        <div class="row post-body-text">
            <div class="col-md-12">
                <h4>{{idea.title}}</h4>
                <div class="post-idea limit">
                  <p class="p ">{{{idea.details}}}</p>
                   <p >{{formatDate idea.date 'Do MMMM YYYY року'}}</p>
                </div>
                
            </div>
        </div>
        <a class="nav-link" href="/posts"><i class="fas fa-arrow-left"></i> Назад</a>
    </div>
</section>

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container u-space-2-top">
    <div class="row justify-content-lg-between mb-7">
      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Меню</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Головна</a></li>
          <li><a class="u-list__link" href="/about">Про кафедру</a></li>
          <li><a class="u-list__link" href="/staff">Викладацький склад</a></li>
          <li><a class="u-list__link" href="/consultations">Розклад консультацій</a></li>
          <li><a class="u-list__link" href="/mentors">Наставники академічних груп</a></li>
          <li><a class="u-list__link" href="/materials">Навчально-методичні матеріали</a></li>
          <li><a class="u-list__link" href="posts">Події</a></li>
          <li><a class="u-list__link" href="/contacts">Контаки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Посилання</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="https://www.knteu.kiev.ua/">Сайт КНТЕУ</a></li>
          <li><a class="u-list__link" href="https://www.knteu.kiev.ua/blog/read?n=foais&uk">Сайт Факультету</a></li>
          <li><a class="u-list__link" href="https://mon.gov.ua/ua">Мінітерсто освіти і науки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Контаки</strong>
        </h3>
        <!-- End Title -->

        <!-- Address -->
        <address class="u-list">
          <a class="u-list__link" href="">531-49-56</a>
          <a class="u-list__link" href="mailto:progen@ukr.net"> progen@ukr.net</a>
          <a class="u-list__link" href="https://goo.gl/maps/BfmjmZnxdp42">Україна, 02156, м. Київ, вул. Кіото, 19, Корпус Б</a>
        </address>
        <!-- End Address -->
      </div>

      <div class="col-sm-6 col-md-5 col-lg-3 col-lg-3">
        <div class="mb-4">
        <!-- Title -->
        <h3 class="h6 u-text-light mb-3">
          <strong>Соціальні спільноти</strong>
        </h3>
        <!-- End Title -->

        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://www.facebook.com/foais/">
              <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="https://scholar.google.com.ua/citations?user=vOdMBIAAAAAJ&hl=ru">
              <span class="fab fa-google u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>
    </div>
  </div>
  <div class="row justify-content-between align-items-center u-space-1 pb-3">
      <div class="col-5">
        <!-- Logo -->
        <a class="d-inline-block mb-lg-auto " href="#" aria-label="Front">
          <img src="img/logo1.png" alt="Logo" style="width: 100px;">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-6 text-right">
        <a  href="https://orlex.github.io/firstportfolio/" class="p u-list__link small mb-0">© oRlex. 2018</a>
      </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->